# Python
__pycache__/
*.pyc
.venv/
.env

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Raw data (scraping)
data/raw/

# PES assets (binarios grandes)
data/assets/

# Generated output
data/pes_ready/

# Notebooks
notebooks/.ipynb_checkpoints/
