---
const links = [
    { href: "/", label: "Inicio" },
    { href: "/equipos", label: "Equipos" },
    { href: "/jugadores", label: "Jugadores" },
    { href: "/competiciones", label: "Competiciones" },
    { href: "/noticias", label: "Noticias" }
];
---

<nav>

    {
        links.map(link => (

            <a href={link.href}>
                {link.label}
            </a>

        ))
    }

</nav>