<nav>

    <a href="/">Inicio</a>

    <a href="/equipos">Equipos</a>

    <a href="/jugadores">Jugadores</a>

    <a href="/competiciones">Competiciones</a>

    <a href="/noticias">Noticias</a>

</nav>