* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
}

main {
    padding: 2rem;
}

.container {

    max-width: var(--max-width);

    margin: auto;

    padding: 2rem;

}

:root {

    --background: #111111;

    --surface: #1a1a1a;

    --text: #ececec;

    --primary: #2fa64a;

    --border: #333333;

    --max-width: 1400px;

}