:root {

    /* Colores */

    --color-background: #0f1115;
    --color-surface: #1a1d24;
    --color-surface-light: #252932;

    --color-border: #343b47;

    --color-primary: #3ea6ff;

    --color-text: #f5f5f5;
    --color-text-muted: #a4adba;

    /* Tamaños */

    --content-width: 1200px;

    /* Bordes */

    --radius-small: 6px;
    --radius-medium: 10px;
    --radius-large: 16px;

    /* Espaciados */

    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;

}