---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="PES 2021 All Stars"
    description="Base de datos de equipos y jugadores clásicos para PES 2021"
>

    <h2>Bienvenido</h2>

    <p>
        Página en construcción.
    </p>

</Layout>