---
import Layout from "../../layouts/Layout.astro";
import { teamRepository } from "../../lib/teams";

const teams = teamRepository.getAllSorted();
---

<Layout title="Equipos">

    <h1>Equipos</h1>

    <ul>

        {
            teams.map(team => (

                <li>

                    <a href={`/equipos/${team.slug}`}>

                        {team.name}

                    </a>

                </li>

            ))
        }

    </ul>

</Layout>