---
import Layout from "../../layouts/Layout.astro";
import { teamRepository } from "../../lib/teams";

import TeamCard from "../../components/teams/TeamCard.astro";
import Grid from "../../components/ui/Grid.astro";

const teams = teamRepository.getAllSorted();
---

<Layout title="Equipos">

    <h1>Equipos</h1>

    <ul>

        {
            <Grid>
                {teams.map(team => (
                    <TeamCard team={team} />
                ))}
            </Grid>
        }

    </ul>

</Layout>