---
import Layout from "../../layouts/Layout.astro";
import { getTeams } from "../../lib/teams";

const teams = getTeams();
---

<Layout title="Equipos">

    <h1>Equipos</h1>

    <ul>

        {
            teams.map(team => (

                <li>

                    {team.name}

                </li>

            ))
        }

    </ul>

</Layout>